name: Generate Snake

on:
  # Uruchamiaj automatycznie o północy
  schedule:
    - cron: "0 0 * * *" 
  # Pozwala uruchomić ręcznie z zakładki Actions
  workflow_dispatch:

permissions: 
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: Platane/snk@v3
        with:
          # Nazwa użytkownika/organizacji github
          github_user_name: devitwise
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}